<?xml version="1.0"?>

<robot name="omni_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<!--xacro:include filename="$(find omni_manipulator)/urdf/cycloid_gear_mecanum_wheel.urdf.xacro" /!-->
	<xacro:include filename="$(find omni_manipulator)/urdf/frame.urdf.xacro" />
	<xacro:include filename="$(find omni_manipulator)/urdf/DRCA3.gazebo.xacro" />
	<xacro:include filename="$(find omni_manipulator)/urdf/DRCA3.urdf.xacro" />
	<xacro:include filename="$(find omni_manipulator)/urdf/cycloid_gear_mecanum_wheel.urdf.xacro" />	
	
	
	<xacro:macro name="robot">
		<xacro:frame/>

		<xacro:mecanum_wheel prefix="front_R" parent="frame" reflect="true">
			<origin xyz="0.23 -0.2541 -0.11838" rpy="${-pi/2} 0 0"/> 
			<!-- <0.0762, 0.2541, x:0.069734> -->
		</xacro:mecanum_wheel>

        <xacro:mecanum_wheel prefix="front_L" parent="frame" reflect="false">
			<origin xyz="0.23 0.2541 -0.11838" rpy="${-pi/2} 0 0"/>
		</xacro:mecanum_wheel>

		<xacro:mecanum_wheel prefix="back_R" parent="frame" reflect="false">
			<origin xyz="-0.23 -0.2541 -0.11838" rpy="${pi/2} 0 0"/> 
			<!-- <y:-0.2571, 0.2541, x:0.390266> -->
		</xacro:mecanum_wheel>

        <xacro:mecanum_wheel prefix="back_L" parent="frame" reflect="true">
			<origin xyz="-0.23 0.2541 -0.11838" rpy="${pi/2} 0 0"/>
		</xacro:mecanum_wheel>
        
		<xacro:omni_steering/>

   		</xacro:macro>
		   
	<xacro:robot/>

	

</robot>