<?xml version="1.0"?>

<robot name="omni_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<!--xacro:include filename="$(find omni_manipulator)/urdf/cycloid_gear_mecanum_wheel.urdf.xacro" /!-->
	<xacro:include filename="$(find omni_manipulator)/urdf/frame_1.urdf.xacro" />
	<xacro:include filename="$(find omni_manipulator)/urdf/DRCA3.gazebo.xacro" />
	<xacro:include filename="$(find omni_manipulator)/urdf/DRCA3.urdf.xacro" />
	<xacro:include filename="$(find mecanum_left)/urdf/mecanum_left.urdf.xacro" />
	<xacro:include filename="$(find mecanum_right)/urdf/mecanum_right.urdf.xacro" />

	<xacro:macro name="robot">
		<xacro:frame/>

		<xacro:mecanum_wheel_right prefix="front" parent="frame" reflect="true">>
			<origin xyz="0.069734 -0.2541 -0.11838" rpy="${-pi/2} 0 0"/> <!--0.0762-->
		</xacro:mecanum_wheel_right>

        <xacro:mecanum_wheel_left prefix="front" parent="frame" reflect="true">
			<origin xyz="0.069734 0.2541 -0.11838" rpy="${pi/2} 0 0"/>
		</xacro:mecanum_wheel_left>

		<xacro:mecanum_wheel_left prefix="back" parent="frame" reflect="false">
			<origin xyz="-0.390266 -0.2541 -0.11838" rpy="${-pi/2} 0 0"/>
		</xacro:mecanum_wheel_left>

        <xacro:mecanum_wheel_right prefix="back" parent="frame" reflect="false">
			<origin xyz="-0.390266 0.2541 -0.11838" rpy="${pi/2} 0 0"/>
		</xacro:mecanum_wheel_right>
        
		<xacro:omni_steering/>

   		</xacro:macro>
		   
	<xacro:robot/>

</robot>