<launch>
  <!-- These are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find omni_manipulator_gazebo)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into ROS parameter server -->
  <!--param name="robot_description" textfile="$(find omni_manipulator)/urdf/drc_mobile_manipulator.urdf" /!-->
  <param name="robot_description" command="$(find xacro)/xacro  '$(find omni_manipulator)/urdf/omni_manipulator_2.urdf.xacro'"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x 0 -y -0 -z 0  -model omni_manipulator -param robot_description"/>
  
  <!-- Run controller utils -->
  <rosparam file="$(find omni_manipulator_gazebo)/config/joint_state_controller.yaml" command="load"/>
  <rosparam file="$(find omni_manipulator_gazebo)/config/manipulator.yaml" command="load"/>
  <rosparam file="$(find omni_manipulator_gazebo)/config/gripper_controller.yaml" command="load"/>
  <rosparam file="$(find omni_manipulator_gazebo)/config/mecanum.yaml" command="load"/>

  <!-- ros_control robotis manipulator launch file -->
  <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/omni_manipulator" args="joint_state_controller joint_1_pos joint_2_pos joint_3_pos joint_4_pos joint_5_pos joint_6_pos
                                                 wheel_1 wheel_2 wheel_3 wheel_4 gripper gripper_sub "/>
  
  <!--node name="omx_gripper_sub_publisher" pkg="omni_manipulator_gazebo" type="omx_gripper_sub_publisher" output="screen"/!-->
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/omni_manipulator/joint_states" />
  </node>

  <!-- Publish joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <!-- Joystick node -->
  <node name="joy" pkg="joy" type="joy_node"/>


</launch>
